table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.all {
  background-image: url(../../../assets/image/blue.jpg);
  /*padding: 20px;*/
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;

}
