<div class="all">
  <h3 class="display-3 text-center">Academic Office Leave Request Website</h3>
  <h3 class="display-3 text-center">University of Colombo School of Computing</h3>

  <hr class="my-4">
  <div class="col-md-9">
    <table class="table">
      <thead>
      <tr class="info">
        <p>
           Every student of the University of Colombo
          School of Computing will be given a student Identity Card.
        </p>

        <p>
          Every student of the University of Colombo
          School of Computing will be given a student Identity Card.
        </p>

        <p>
          Every student of the University of Colombo
          School of Computing will be given a student Identity Card.
        </p>

        <p>
          Every student of the University of Colombo
          School of Computing will be given a student Identity Card.
        </p>
      </tr>

      <tr class="info">
        <p>
          Every student of the University of Colombo
          School of Computing will be given a student Identity Card.
        </p>
      </tr>

      </thead>
    </table>
  </div>



</div>
